<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mapper.PicMapper" >
	<insert id="insPic" parameterType="pic">
		insert into pic values(default,#{path})
	</insert>
</mapper>